<ion-searchbar
  [debounce]="1000"
  (ionInput)="handleInput($event)"
></ion-searchbar>

<ng-container *ngIf="isSearchPerformed">
  <ng-container *ngIf="noResultsFound; else searchResults">
    <p>No hay coincidencias para la búsqueda.</p>
  </ng-container>
  <ng-template #searchResults>
    <ion-card *ngFor="let nft of filteredData" color="primary">
      <ion-card-header>
        <ion-card-subtitle>{{ nft.symbol }}</ion-card-subtitle>
        <ion-card-title>{{ nft.name }}</ion-card-title>
        <p>#{{ nft.asset_platform_id }}</p>
        <p>{{ nft.contract_address }}</p>
      </ion-card-header>
    </ion-card>
  </ng-template>
</ng-container>
